<!-- <form #frm="ngForm"> -->

<table  class="table" style="margin-top: -562px;
position: relative;
 left: 252px;    width: 72%;">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">Skills's Name</th>
        <th scope="col">Skills's TOC</th>
        <th scope="col">Skills's Fees</th>
        <th scope="col">Skills's Duration</th>
         
      </tr>
    </thead>
    
    <tbody  >
    
      <tr>
        
        <th scope="row"><input type="text" name="skill_Name"  [(ngModel)]="list.skill_Name"  class="form-control"></th>
        
      
        <td scope="row"><input type="text" name="skill_Toc"  [(ngModel)]="list.skill_Toc"  class="form-control "></td>
     
        <td scope="row"><input type="number" name="skill_Fee"   [(ngModel)]="list.skill_Fee"   class="form-control ">Rs</td>
       
    
       
          <td scope="row"><input type="number" name="skill_Duration"  [(ngModel)]="list.skill_Duration"  class="form-control ">Months</td>
    
        
          <td scope="row"><button type="submit" class="btn btn-primary" routerLink="../listskills" (click)="Add()">Add</button></td>
        <!-- *ngIf="checkBlock(i)==0" -->
        <!-- <td *ngIf="status[i]"><button  type="submit" class="btn btn-primary" (click)="BlockUser(i);">Block</button></td>
        <td *ngIf="!status[i]"><button type="submit"  class="btn btn-danger" (click)="BlockUser(i);">UnBlock</button></td>
        <td><button type="submit" (click)="DeleteUser(i);"> <i class="fa fa-trash" aria-hidden="true"></i></button></td>
        <td scope="row"></td> -->
      </tr>
        
   
    </tbody>
{{list|json}}
  </table>

